<%- include("partials/header"); -%>

<div class="post">
  <h1>Home</h1>
  <p><%= main %></p>
</div>

 <% posts.forEach((post) => { %>
   <div class="post">
     <h1><%= post.title %></h1>
     <p class="timestamp"><%= post.date %></p>
     <p>
       <%= post.body.substring(0, 100) + " ..." %>
       <a href="/posts/<%= post._id %>"> Read More</a>
     </p>
   </div>
 <% }); %>

<div class="text-center">
  <a href="/compose" class="btn btn-primary compose">Create New Post</a>
</div>


<%- include("partials/footer"); -%>
