<%- include("partials/header"); -%>


<form action="/delete" method="post">

  <h1><%= post.title %></h1>

  <button type="submit" class="delete" name="deleteID" value="<%= post._id %>">
    <i class="far fa-trash-alt"></i>
  </button>

  <p><%= post.body %></p>

  <p class="timestamp">Written on <%= post.date %></p>

</form>



<%- include("partials/footer"); -%>
